$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xs-max: ($screen-sm-min - 0.02px);
$screen-sm-max: ($screen-md-min - 0.02px);
$screen-md-max: ($screen-lg-min - 0.02px);
$screen-lg-max: ($screen-xl-min - 0.02px);
