:root{font-size:16px}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html,body{margin:0;padding:0}html{box-sizing:border-box;-ms-overflow-style:scrollbar}body{--font-default-color: #333333;font-family:'Roboto',sans-serif;color:var(--font-default-color);background-color:#fff}.layout-wrapper{display:flex;flex-direction:column;min-height:100vh;height:1px}.layout-wrapper header{flex-shrink:0}.layout-wrapper .page-wrapper{flex-grow:1}.layout-wrapper footer{flex-shrink:0}
/*# sourceMappingURL=template_styles.css.map */
